#introText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; /* Optional: Adjust the height based on your design */
}

#introText div {
    text-align: center;
}
.bg-custom-color {
    background-color: rgb(75, 75, 241); /* Replace with the color code or name you want */
}
.hidden {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: center;
}

h3,
#toggleSectionBtn,
#toggleSectionBtn2,
#toggleSectionBtn3 {
    margin-top: 20px;
}

.card-products-container {
    margin: 5vh auto;
    text-align: center;
}

.card-products {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container {
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 2;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.card-products img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button {
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    background: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.cart-counter {
    position: fixed;
    bottom: 35px;
    right: 55px;
    font-size: 18px;
}

.modal-body {
    margin-bottom: 20px;
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-img {
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info h4 {
    margin-top: 35px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 1em;
}

.quantity-btn-decrease,
.quantity-btn-increase {
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-input {
    color: #333333;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .product-img {
        display: none;
    }
    .modal-body {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-product {
    cursor: pointer;
}

.modal-footer {
    text-align: center;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cart-counter {
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 30px;
    width: 20px;
    font-size: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#button-checkout {
    z-index: 10;
}